:host {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 var(--padding-horizontal);
    background-image: var(--gradient-default);
}

    h1 {
        margin-bottom: 1em;
    }

.paragraph-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media only screen and (min-width: 768px) {

    .paragraph-container {
        flex-direction: row;
        gap: 10ch;
    }

    p {
        font-size: 120%;
        max-width: 40ch;
        position: relative;
        transform: translateX(20px);

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 2px;
            height: 100%;
            background-color: black;
            transform: translateX(-20px);
        }
    }
}