* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding-horizontal: 20px;
    --gradient-default: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

@media only screen and (min-width: 768px) {
    :root {
        --padding-horizontal: 80px;
    }
}