* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding-horizontal: 20px;
}

@media only screen and (min-width: 768px) {
    :root {
        --padding-horizontal: 80px;
    }
}